@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    background-color: #EDEDED;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    background-color: hsl(7, 100%, 86%);
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.301);
}

h1{
    color: hsl(7, 100%, 60%);
}

.hidden{
    color: red;
    display: none;
}

#passLength{
    width: 50px;
}

#SBMTbutton{
    outline: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#SBMTbutton:hover{
    background-color: hsl(0, 100%, 95%);
}

#SBMTbutton:focus{
    background-color: hsl(0, 100%, 98%);
}

#Result{
    width: 80%;
    height: 25px;
}